{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

<div class="card shadow-lg border-0">

<div class="card-body">

<div class="row align-items-center">

<div class="col-md-3 text-center">

<img src="{{ user.profile.image.url }}"
class="rounded-circle img-thumbnail"
style="width:180px;height:180px;object-fit:cover;">

</div>

<div class="col-md-9">

<h2>

{{ user.username }}

</h2>

<p class="text-muted">

{{ user.email }}

</p>

<p>

{{ user.profile.bio }}

</p>

<div class="row mt-4">

<div class="col text-center">

<h3>

{{ total_notes }}

</h3>

<small>

Notes

</small>

</div>

<div class="col text-center">

<h3>

{{ total_likes }}

</h3>

<small>

Likes

</small>

</div>

<div class="col text-center">

<h3>

<a href="{% url 'followers_list' user.username %}">

{{ user.followers.count }}

</a>

</h3>

<small>

Followers

</small>

</div>

<div class="col text-center">

<h3>

<a href="{% url 'following_list' user.username %}">

{{ user.following.count }}

</a>

</h3>

<small>

Following

</small>

</div>

</div>

<div class="mt-4">

<a href="{% url 'edit_profile' %}"
class="btn btn-warning">

Edit Profile

</a>

<a href="{% url 'create_note' %}"
class="btn btn-success">

Create Note

</a>

<a
href="{% url 'saved_notes' %}"
class="btn btn-warning mt-3">

⭐ Saved Notes

</a>

</div>

</div>

</div>

</div>

</div>

</div>

{% endblock %}